<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Employee Details</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style>
body {
    color: #404E67;
    background: #F5F7FA;
    font-family: 'Open Sans', sans-serif;
}
.table-wrapper {
    width: 700px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;	
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}
.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
}
.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}
.table-title .logout {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}
.table-title .add-new i {
    margin-right: 4px;
}
.table-title .logout i {
    margin-right: 4px;
}
table.table {
    table-layout: fixed;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table th:last-child {
    width: 100px;
}
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}    
table.table td a.add {
    color: #27C46B;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
table.table td i {
    font-size: 19px;
}
table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}    
table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.table .form-control.error {
    border-color: #f50000;
}
table.table td .add {
    display: none;
}
</style>
<script>
$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
	var actions = $("table td:last-child").html();
	// Append table with add row form on add new button click
    $(".add-new").click(function(){
		$(this).attr("disabled", "disabled");
		var index = $("table tbody tr:last-child").index();
        var row = '<tr>' +
            '<td><input type="text" class="form-control" name="emplyee_name" id="emplyee_name"></td>' +
            '<td><input type="text" class="form-control" name="employee_email" id="employee_email"></td>' +
            '<td><input type="text" class="form-control" name="employee_address" id="employee_address"></td>' +
			'<td>' + actions + '</td>' +
        '</tr>';
    	$("table").append(row);		
		$("table tbody tr").eq(index + 1).find(".add, .edit").toggle();
        $('[data-toggle="tooltip"]').tooltip();
    });
	// Add row on add button click
	$(document).on("click", ".add", function(){
		var empty = false;
		var input = $(this).parents("tr").find('input[type="text"]');
        debugger;
        let addEmployeeObj = {};
        input.each(function(){
            if(!editFlag)
            addEmployeeObj[$(this)[0].id] = $(this).val(); 
			if(!$(this).val()){
				$(this).addClass("error");
				empty = true;
			} else{
                $(this).removeClass("error");
            }
		});
        if(editFlag){
            let employeeObj = {
                "id":  input[1].value,
                "emplyee_name":  input[0].value,
                "employee_email":  input[2].value,
                "employee_address": input[3].value
            }
            updateEmployee(employeeObj);
        }else{
            addEmployee(addEmployeeObj);
        }
		$(this).parents("tr").find(".error").first().focus();
		if(!empty){
			input.each(function(){
				$(this).parent("td").html($(this).val());
			});			
			$(this).parents("tr").find(".add, .edit").toggle();
			$(".add-new").removeAttr("disabled");
		}		
    });
	// Edit row on edit button click
	$(document).on("click", ".edit", function(){		
        $(this).parents("tr").find("td:not(:last-child)").each(function(){
			$(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
		});		
		$(this).parents("tr").find(".add, .edit").toggle();
		$(".add-new").attr("disabled", "disabled");
    });
	// Delete row on delete button click
	$(document).on("click", ".delete", function(){
        $(this).parents("tr").remove();
		$(".add-new").removeAttr("disabled");
    });
});
</script>
</head>
<body>

<div class="container-lg" id="loginDiv">
        <div class="form-group">
          <label for="exampleInputEmail1">UserName:</label>
          <input type="text" class="form-control" id="username" aria-describedby="UserName" placeholder="Enter user name">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password:</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary" onClick="login()">Submit</button>
</div>

<div class="container-lg" id="tableDiv">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Employee <b>Details</b></h2></div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-danger logout  " onClick="logout()"><i class="fa fa-trash"></i> Logout</button>
                        <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    <tr>
                        <td>John Doe</td>
                        <td>Administration</td>
                        <td>(171) 555-2222</td>
                        <td>
                            <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                            <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>  
                </tbody>
            </table>
        </div>
    </div>
</div>     
</body>

<script>
    let editFlag = false;
    let loginFailed = false;

    window.onload = function() {
        $('#loginDiv').show();
        $('#tableDiv').hide();
        getAllEmployee();
      };
    function getAllEmployee(){     
          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;
          
          xhr.addEventListener("readystatechange", function () {
            if (this.readyState === 4) {
              console.log(this.responseText);
              let data = '';
              let employeeList =  JSON.parse(this.responseText);
              employeeList.forEach(x=>{
                data += ` <tr>
                    <td>${x.emplyee_name}</td>
                    <td style="display:none;">${x.id}</td>
                    <td>${x.employee_email}</td>
                    <td>${x.employee_address}</td>
                    <td>
                        <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                        <a class="edit" onClick='updateEmployeeClicked()' title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                        <a class="delete" title="Delete" onClick='deleteEmployee(${x.id})' data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr> `
              });
              $('#tbody').html(data);
              loginFailed = false;
              showhide();
            }else{
                loginFailed = true;
                showhide();

            }
          });
          
          xhr.open("GET", "http://127.0.0.1:8000/employee/api");
          xhr.setRequestHeader("content-type", "application/json");
          xhr.setRequestHeader("authorization", "Bearer " +  localStorage.getItem('auth'));
          xhr.send();
    }

    function login(){

        var data = JSON.stringify({
            "username": $('#username').val(),
            "password": $('#password').val()
          });
          
          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;
          
          xhr.addEventListener("readystatechange", function () {
            if (this.readyState === 4) {
            localStorage.setItem('auth',JSON.parse(this.responseText).access);
            console.log(this.responseText);
            loginFailed = false;
            showhide();
            getAllEmployee();
            }
          });
          
          xhr.open("POST", "http://localhost:8000/token/");
          xhr.setRequestHeader("content-type", "application/json");
          
          xhr.send(data);
    }


    function addEmployee(employeeData){
        var data = JSON.stringify(employeeData);
          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;
          
          xhr.addEventListener("readystatechange", function () {
            if (this.readyState === 4) {
              console.log(this.responseText);
               getAllEmployee();
            }
            else{
                loginFailed = true;
                showhide();

            }
          });
          
          xhr.open("POST", "http://127.0.0.1:8000/employee/api/create");
          xhr.setRequestHeader("content-type", "application/json");
          xhr.setRequestHeader("authorization", "Bearer "+  localStorage.getItem('auth'));
          xhr.send(data);
    }

    function deleteEmployee(id){
        var xhr = new XMLHttpRequest();
        xhr.withCredentials = true;

        xhr.addEventListener("readystatechange", function () {
          if (this.readyState === 4) {
            console.log(this.responseText);
            getAllEmployee();
          }
          else{
            loginFailed = true;
            showhide();

        }
        });

        xhr.open("DELETE", `http://127.0.0.1:8000/employee/api/${id}/delete`);
        xhr.setRequestHeader("content-type", "application/json");
        xhr.setRequestHeader("authorization", "Bearer "+  localStorage.getItem('auth'));
        xhr.send();
    }

    function updateEmployee(employee){
        debugger;
          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;
          
          xhr.addEventListener("readystatechange", function () {
            if (this.readyState === 4) {
                editFlag = false;
                getAllEmployee();
            }
            else{
                loginFailed = true;
                showhide();
            }
          });
          
          xhr.open("PUT", "http://127.0.0.1:8000/employee/api/"+employee.id);
          xhr.setRequestHeader("content-type", "application/json");
          xhr.setRequestHeader("authorization", "Bearer "+  localStorage.getItem('auth'));
          var data = JSON.stringify(employee);
          xhr.send(data);
    }

    function updateEmployeeClicked(){
        editFlag = true;
    }


    function showhide(){
        if (loginFailed == true) {
            $('#loginDiv').show();
            $('#tableDiv').hide();
        } else {
            $('#loginDiv').hide();
            $('#tableDiv').show();
        }
    }

    function logout(){
        $('#loginDiv').show();
        $('#tableDiv').hide();
    }
</script>
</html>